/* Full page background */
.login-bg {
  height: 100vh;
  width: 100vw;

  background-image: url("../assets/login-bg.jpg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Card */
.login-card {
  width: 380px;
  padding: 30px;

  background: rgba(20, 25, 45, 0.92);
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);

  text-align: center;
}

.login-card h1 {
  color: #fff;
  margin-bottom: 5px;
}

.login-card p {
  color: #bfc6ff;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border-radius: 8px;
  border: none;
  outline: none;

  background: #eef3ff;
  font-size: 14px;
}

.login-card button {
  width: 100%;
  padding: 12px;

  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  border-radius: 8px;

  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  opacity: 0.9;
}

.login-card .link {
  margin-top: 15px;
  color: #00c6ff;
  cursor: pointer;
}
